#product-list{
    width:80%;
    background-color:aliceblue;
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #f0a22c;
    }

    tr:nth-child(odd) {
        background-color: #7a8529; 
        color: #fff; 
    }

}